@font-face {
    font-family: 'VI';
    src: url('../assets/fonts/vi_type_06-webfont.eot');
    src: url('../assets/fonts/vi_type_06-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/vi_type_06-webfont.woff2') format('woff2'),
         url('../assets/fonts/vi_type_06-webfont.woff') format('woff'),
         url('../assets/fonts/vi_type_06-webfont.ttf') format('truetype'),
         url('../assets/fonts/vi_type_06-webfont.svg#vi_typeblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src:  url('../assets/fonts/Avenir.otf') format("opentype"),
        url('../assets/fonts/Avenir.woff') format('woff');
}